= stylesheet_link_tag "devise_safeguard", :media => "all"
#safeguard-form-token
  = form_tag([resource_name, :verify_safeguard], :id => 'devise_safeguard', :class => 'safeguard-form', :method => :post) do
    .devise-logo-safeguard
    = hidden_field_tag(:"#{resource_name}_id", @resource.email)
    %label
      = I18n.t('devise.safeguard_form_title')
    = text_field_tag :safeguard_token, "", :autocomplete => :off, :id => 'safeguard-token'
    .token-types

      .normal-token.token-type
        = radio_button 'token', 'type', 'normal', checked: 'checked'
        = I18n.t('devise.safeguard_token_normal')
      .smartphone-token.token-type
        = radio_button 'token', 'type', 'smartphone'
        = I18n.t('devise.safeguard_token_smartphone')
    = submit_tag I18n.t('safeguard_token_button', {:scope => 'devise'}), :class => 'button'

